<div class="container">
    <h1 class="title">
        <span>Contact</span>
    </h1>
    
    <ul class="social-media">
        <li><a href="aherpallavi2000@gmail.com"><img src="../../assets/Images/gmail.png"/></a></li>
        <li><a href="https://www.linkedin.com/in/pallavi-aher-521b1619b"><img src="../../assets/Images/linkedin.png"></a></li>
        <li><a href="https://www.instagram.com/pallaviaher155/"><img src="../../assets/Images/insta.png"/></a></li>
        
        
    </ul>

    <ul class="contact-info">
        <li>Mobile:7666267035</li>
        <li>aherpallavi2000@gmail.com</li>
    </ul>
</div>